body {
  font-family: 'Open Sans Condensed', sans-serif;

}

table tr td {
  width: 10px;
  height: 10px;
  border: 1px solid tomato;
  cursor: pointer;
  transition: .25s;
}

table tr td:hover {
  background-color: tomato;
}
